@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #dcdbdb;
  border-radius: 8px;
}